a{
  color: #F9F9F9;
}

a:hover {
  color: #AAAAFF;
}

body{
  color: #4B474B;
  font-family: 'Righteous', cursive;
  background: linear-gradient(#AFEEEE, #AFCCFF);
}

body:before{
  background-image: url("../assets/shells.jpg");
  background-attachment: fixed;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
  z-index: -1;
}

header, footer, .banner{
  background-color: #2264A2;
  color: #F8F8F2;
  padding: 2.5%;
  box-shadow: 1px 2px 3px;
}

img, video{
  width: 100%;
  height:inherit;
  margin: 2%;
}

input{
  color: #205B59;
  font-size: 20px;
}

input[type=submit]{
  margin: 1.5%;
}

.contain {
  object-fit: contain;
}

.jumbotron{
  background-color: #D7F6F6;
  margin: 2.5%;
  padding: 5%;
  border: solid;
  border-color: #9DD6D6;
  box-shadow: 1px 2px 3px;
}

.letter {
  border-style: solid;
  padding: 2px;
  margin: 2px;
  z-index: 1;
}
.letter-button-color {
  color: #F8F8F2;
  background-color: #2264A2;
  border: solid;
  border-color: #9DD6D6;
  font-size: 12px;
  box-shadow: 1px 2px 3px;
}

.letter-button-color:hover {
  color: #fff;
  background-color: #ff0032;
  border-color: #ff9999;
}

.right{
  float: right;
  font-size: none;
}

@media screen and (max-width: 768px){
  img, video{
    width: 100%;
    height:inherit;
}
  #giphyURL{
    font-size: 6px;
  }

  .right{
    float: none;
    font-size: 10px;
    margin-top: 60%;
  }

  }
